[submodule "ofxCocoaPlugins"]
	path = ofxCocoaPlugins
	url = git@github.com:HalfdanJ/ofxCocoaPlugins.git
[submodule "libs/ofxBlackMagic"]
	path = libs/ofxBlackMagic
	url = git@github.com:HalfdanJ/ofxBlackmagic.git
